# Co-app-frontend submodules
[submodule "libs/shared-ui"]
    path = libs/shared-ui
    url = https://github.com/Polymorphic-Group/shared-ui.git
    branch = main

[submodule "libs/common-components"]
    path = libs/common-components
    url = https://github.com/Polymorphic-Group/common-components.git
    branch = main